<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @comment.task_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @comment.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @comment.updated_at %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.author_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @comment.task %>
</p>

<%= link_to 'Edit', edit_project_task_comment_path(params[:project_id], params[:task_id], @comment) %> |
<%= link_to 'Back', project_task_comments_path %>
