<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @project.due_date %>
</p>

<p>
  <strong>Open:</strong>
  <%= @project.open %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project.updated_at %>
</p>

<p>
  <strong>Position:</strong>
  <%= @project.position %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @project.assignee_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'New Task', new_project_task_path(@project) %>
